{% sw_extends '@Storefront/storefront/layout/navigation/offcanvas/navigation.html.twig' %}

{# Override header to add language widget and reorganize layout #}
{% block utilities_offcanvas_header %}
    <div class="offcanvas-header voltimax-custom-header d-flex align-items-center">
        {# Language widget - 30% width #}
        <div class="voltimax-language-widget" style="width: 30%;">
            {% sw_include '@Storefront/storefront/layout/header/actions/language-widget.html.twig' with {position: 'offcanvas'} %}
        </div>
        
        {# Title - 20% width (spacer) #}
        <div class="offcanvas-title flex-grow-1 text-center" style="width: 20%;">
            <span class="fw-bold">{{ "general.menuLink"|trans|sw_sanitize }}</span>
        </div>
        
        {# Close button - 50% width #}
        <div class="voltimax-close-wrapper d-flex justify-content-end" style="width: 50%;">
            <button class="btn btn-light offcanvas-close js-offcanvas-close"
                    type="button"
                    data-bs-dismiss="offcanvas"
                    aria-label="{{ "general.closeMenu"|trans|striptags }}">
                {% sw_icon 'x' style { 'pack': 'solid' } %}
                <span class="ms-1">{{ 'general.offcanvasCloseMenu'|trans|sw_sanitize }}</span>
            </button>
        </div>
    </div>
{% endblock %}

{# Remove the duplicate language widget from navigation actions #}
{% block layout_navigation_offcanvas_navigation_action_language %}
    {# Empty block to prevent duplicate language widget #}
{% endblock %}

{# Keep currency widget if needed #}
{% block layout_navigation_offcanvas_navigation_action_currency %}
    {# You can keep or remove currency widget as needed #}
    {{ parent() }}
{% endblock %}